body {
  background: #26393D;
  margin-left: 10%;
  text-align: left;
  color: #FFFAE4;
  font-size: 25px;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

h1 {
  color: #110b28;
  text-align: center;
  font-weight: bold;
}

h2 {
  border-bottom: 1px solid black;
  color: #110b28;
}

h5 {
  color: #110b28;
  font-weight: bold;
  font-size: 18px;
}

p {
  font-size: 18px;
}

.pick_gender {
  border: 3px solid black;
  color: #110b28;
  width: 400px;
  height: 100px;
  text-align: center;
  background-color: white;
  display: inline-block;
  padding: 2px;
  word-wrap: break-word;
  margin-left: -25px;
}

.radio {
  display: inline-block;
  margin-top: -5px;
}

.header {
  border-bottom: 1px solid black;
}

.display_data {
  background-color: white;
  border: 3px solid black;
  width: 50%
}

.cal_table_info {
  border: 3px solid black;
  margin-left: -25px;
}

.output {
  margin-top: 140px;
}

.submit {
  margin-top: 30px;
}

.row {
  margin-bottom: 20px;
}

.btn {
  float: left;
  margin-top: 10px;
  margin-left: -25px;
}

.results {
  margin-top: 80px;
}

.fruit_input {
  color: #40627C;
  font-size: 15px;
  width: 200px;
  height: auto;
  border: 3px solid black;
  margin-left: -5px;
}

.user_pick_cals {
  width: 400px;
  border: 3px solid black;
  margin-left: -25px;
}

.select_bar {
  margin-bottom: 30px;
  margin-top: -40px;
  margin-left: -25px;
  color: #40627C;
}
.eat_label {
  margin-left: -35px;
}

.label, #result_table {
  color: #110b28;
}

.cal_fat_totals {
  color: #ff0000;
}

.my_form {
  margin-top: 20px;
}

.warning {
  color: #ff0000;
  font-weight: bold;
  font-size: 32px;
}

.myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

.myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #110b28;
}

.label {
  text-align: center;
  line-height: 30px;
  color: white;
}
